.btn{
    background-color: #000000;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    a{
        color: white;
        text-decoration: none;
    }
}

.btn:hover{
    background-color: rgba(8, 8, 8, 0.267);
    transition: 0.5s;

    a{
        color: black;
    }
}